.buttons {
    display: flex;
}

.button {
    padding: 10px 30px;
    background: #ffffff;
    border: none;
    outline: none;
    color: hsl(180, 100%, 25%);
    cursor: pointer;
    height: 100%;
    transition: 0.2s;
}

.button:hover {
    color: hsl(180, 100%, 30%);
}

.button:active {
    color: hsl(180, 100%, 35%);
    border: 2px solid;
}

.button--disabled {
    color: gray;
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
}