.flex {
    margin: 0 10px;
}

.flex__container {
    max-width: 1300px;
    margin: 50px auto;
    font-family: 'Open Sans', sans-serif;
}

.flex__header {
    display: flex;
    flex-grow: 1;
    background-color: #ffffff;
    padding: 0 20px;
    margin: 0 0 2px;
}

.flex__block {
    display: flex;
    flex-wrap: nowrap;
}

.flex__button {
    background: #ffffff;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 0 0 2px;
    color: teal;
    cursor: pointer;
}

.flex__button--hidden {
    visibility: hidden;
}