.flex {
    margin: 0 10px;
}

.flex__container {
    max-width: 1300px;
    margin: 50px auto;
    font-family: 'Open Sans', sans-serif;
}

.flex__block {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 2px;
}

.flex__header {
    display: flex;
    flex-grow: 1;
    background-color: #ffffff;
    padding: 0 20px;
}

.flex__buttonsContainer {
    display: flex;
}

.flex__button {
    background: #ffffff;
    border: none;
    outline: none;
    color: hsl(180, 100%, 25%);
    cursor: pointer;
    height: 100%;
    transition: 0.2s;
}

.flex__button:hover {
    color: hsl(180, 100%, 30%);
}

.flex__button:active {
    color: hsl(180, 100%, 35%);
    border: 2px solid;
}

.flex__button--disabled {
    color: gray;
    cursor: not-allowed;
}